fastapi==0.104.1
uvicorn==0.24.0
pydantic==2.5.2
numpy==1.26.2
shapely==2.0.2
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu
torch_geometric==2.7.0
# --- Modulo de Seguridad (Item 5 y 6 de la Rubrica) ---
bcrypt>=4.1.2
PyJWT>=2.8.0
python-dotenv>=1.0.0

# --- Modulo de Base de Datos y ORM (Item 1 y 3 de la Rubrica) ---
SQLAlchemy>=2.0.23
psycopg2-binary>=2.9.9
GeoAlchemy2>=0.14.3
email-validator>=2.1.0
cachetools>=5.3.3
python-multipart>=0.0.18